<!doctype html>
<html lang="en">
	<head>
		<% include head %>
		<% include css %>
	</head>
	<body>
		<% include menu %>
		<div class="container">
            <div class="row">
            	<div class="col-md-12"> <!-- Main content -->
            		<div class="row"> <!-- Demo -->
                        <h1><strong><%= docID %></strong><a href="/doc/<%= docID %>" class="btn btn-default pull-right"><span class="glyphicon glyphicon-pencil">&nbsp;</span>Switch to edition mode</a></h1>
            			<div class="col-md-10 col-md-offset-1">
                            <div class="row">
                                <center>
                                    <span class="alert alert-info">Drag the slider in order to review the document's different states.</span>
                                </center>
                                <div class="range range-primary">
                                    <button class="btn btn-default btn-sm" type="button" onclick="prevState()">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </button>
                                    <input id="range" type="range" name="range" min="0" max="1" value="1" oninput="displayState();">
                                    <output onchange="displayState();" id="rangePrimary">0</output>
                                    <button class="btn btn-default btn-sm" type="button" onclick="nextState()">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </button>
                                </div>
            				</div>
                            <% include editor %>
	        				<br>
                        </div>
                    </div>
            	</div>
            </div>
           	<hr>
            <% include footer %>
        </div>
		<% include scripts %>
		<% include scripts-editor %>
        <% include script-dbjs %>
		<% include notifications %>
		<% 
        	if(privateDoc === true) { 
        		%> <% include modal-pwd-doc %> <%
        	}
        %>
		<script>
			"use strict";

            var serverDB;
            var coordinator;
            var editor;
            var network;

            var currentState = 0;
            var str = '';

            var online = false;
            var posting = $.post('/ajax/testConnection');
            posting.done(function (data) {
                console.log('Ca a fonctionné!');
                //online = true;
            });
            posting.always(function () {
                db.open({
                    server: 'mute',
                    version: 1,
                    schema: {
                        models: {
                            key: { keyPath: 'id' , autoIncrement: true },
                            // Optionally add indexes
                            indexes: {
                                creationDate: {},
                                docID: { unique: true },
                                history: {},
                                lastModificationDate: {},
                                replicaNumber: {},
                                ropes: {},
                                bufferLocalLogootSOp: {}
                            }
                        }
                    }
                })
                .done(function (s) {
                    serverDB = s
                    initPage();
                });
            });

            function initMute() {
                if(online === true) {
                    network = new Mute.SocketIOAdapter(coordinator);
                    coordinator.setNetwork(network);    
                }
                coordinator.init();
            }

            function prevState() {
                $('#range').val(currentState-1);
                displayState();
            }

            function nextState() {
                $('#range').val(currentState+1);
                displayState();
            }

            function displayState() {
                var newState = parseInt($('#range').val());
                $('#rangePrimary').val(newState);
                str = coordinator.updateState(str, currentState, newState);
                currentState = newState;
                editor.editor.session.doc.setValue(str);
            }

            function initPage() {
                coordinator = new Mute.Coordinator('<%= docID %>', serverDB);
                editor = new Mute.AceEditorAdapter('<%= editorID %>', null);
                
                editor.editor.setReadOnly(true);
                
                coordinator.on('updateHistoryScroller', function (data) {
                    $('#range').attr('max', data.length).attr('value', data.length);
                    displayState();
                });

                if(<%= privateDoc%> === false) {
                    initMute();
                }
            }

            console.log('docID: <%= docID %>');
        </script>
	</body>
</html>