<!doctype html>
<html lang="en">
	<head>
		<% include head %>
		<% include css %>
	</head>
	<body>
		<% include menu %>
		<div class="container">
            <div class="row">
            	<div class="col-md-12"> <!-- Main content -->
            		<div class="row"> <!-- Demo -->
                        <h1><strong>History mode</strong><a href="/doc/<%= docID %>" class="btn btn-default pull-right"><span class="glyphicon glyphicon-pencil">&nbsp;</span>Switch to edition mode</a></h1>
            			<div class="col-md-10 col-md-offset-1">
                            <div class="row">
                                <center>
                                    <span class="alert alert-info">Drag the slider in order to review the document's different states.</span>
                                </center>
                                <div class="range range-primary">
                                    <button class="btn btn-default btn-sm" type="button" onclick="prevState()">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </button>
                                    <input id="range" type="range" name="range" min="0" max="1" value="1" oninput="displayState();">
                                    <output onchange="displayState();" id="rangePrimary">0</output>
                                    <button class="btn btn-default btn-sm" type="button" onclick="nextState()">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </button>
                                </div>
            				</div>
                            <% include editor %>
	        				<br>
                        </div>
                    </div>
            	</div>
            </div>
           	<hr>
            <% include footer %>
        </div>
		<% include scripts %>
		<% include scripts-editor %>
        <% include script-dbjs %>
		<% include notifications %>
		<% 
        	if(privateDoc === true) ***REMOVED*** 
        		%> <% include modal-pwd-doc %> <%
        	***REMOVED***
        %>
		<script>
			"use strict";

            var serverDB;
            var coordinator;
            var editor;
            var network;

            var currentState = 0;
            var str = '';

            var online = false;
            var posting = $.post('/ajax/testConnection');
            posting.done(function (data) ***REMOVED***
                console.log('Ca a fonctionné!');
                //online = true;
        ***REMOVED***);
            posting.always(function () ***REMOVED***
                db.open(***REMOVED***
                    server: 'mute',
                    version: 1,
                    schema: ***REMOVED***
                        models: ***REMOVED***
                            key: ***REMOVED*** keyPath: 'id' , autoIncrement: true ***REMOVED***,
                            // Optionally add indexes
                            indexes: ***REMOVED***
                                creationDate: ***REMOVED******REMOVED***,
                                docID: ***REMOVED*** unique: true ***REMOVED***,
                                history: ***REMOVED******REMOVED***,
                                lastModificationDate: ***REMOVED******REMOVED***,
                                replicaNumber: ***REMOVED******REMOVED***,
                                ropes: ***REMOVED******REMOVED***,
                                bufferLocalLogootSOp: ***REMOVED******REMOVED***
                        ***REMOVED***
                    ***REMOVED***
                ***REMOVED***
            ***REMOVED***)
                .done(function (s) ***REMOVED***
                    serverDB = s
                    initPage();
            ***REMOVED***);
        ***REMOVED***);

            function initMute() ***REMOVED***
                if(online === true) ***REMOVED***
                    network = new Mute.SocketIOAdapter(coordinator);
                    coordinator.setNetwork(network);    
            ***REMOVED***
                coordinator.init();
        ***REMOVED***

            function prevState() ***REMOVED***
                $('#range').val(currentState-1);
                displayState();
        ***REMOVED***

            function nextState() ***REMOVED***
                $('#range').val(currentState+1);
                displayState();
        ***REMOVED***

            function displayState() ***REMOVED***
                var newState = parseInt($('#range').val());
                $('#rangePrimary').val(newState);
                str = coordinator.updateState(str, currentState, newState);
                currentState = newState;
                editor.editor.session.doc.setValue(str);
        ***REMOVED***

            function initPage() ***REMOVED***
                coordinator = new Mute.Coordinator('<%= docID %>', serverDB);
                editor = new Mute.AceEditorAdapter('<%= editorID %>', null);
                
                editor.editor.setReadOnly(true);
                
                coordinator.on('updateHistoryScroller', function (data) ***REMOVED***
                    $('#range').attr('max', data.length).attr('value', data.length);
                    displayState();
            ***REMOVED***);

                if(<%= privateDoc%> === false) ***REMOVED***
                    initMute();
            ***REMOVED***
        ***REMOVED***

            console.log('docID: <%= docID %>');
        </script>
	</body>
</html>