<!doctype html>
<html lang="en" manifest="mute.manifest">
	<head>
		<% include head %>
		<% include css %>
	</head>
	<body>
		<% include menu %>
		<div class="container">
            <div class="row">
            	<div class="col-md-12"> <!-- Main content -->
            		<div class="row"> <!-- Demo -->
            			<h1><strong>Try MUTE, the Multi-User Text Editor</strong></h1>
            			<div class="col-md-12">
	        				<% include editor %>
	        				<br>
                            <div class="row">
                                <div class="col-md-6">
	        				       <% include awareness %>
                                </div>
                                <div class="col-md-6">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label for="link" class="col-sm-5 control-label">Invite your friends:</label>
                                            <div class="col-sm-7">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="link" value="<%= link %>" readonly="readonly" style="background-color: white;">
                                                    <span class="input-group-btn">
                                                        <button type="button" id="copy-button" class="btn btn-default" data-clipboard-text="<%= link %>" data-toggle="tooltip" data-placement="bottom" title="copy to clipboard" style="height:34px;"><img src="assets/img/icon-clipboard.png"></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
            		</div> <!-- End demo -->
            		<hr>
            		<div class="row"> <!-- Additionnal informations -->
            			<div class="col-md-4">
            				<h1><strong>What's MUTE ?</strong></h1>
                            <p class="lead"><strong>MUTE</strong>, which stands for <strong>M</strong>ulti-<strong>U</strong>ser <strong>T</strong>ext <strong>E</strong>ditor, is a open-source Javascript library able to change any textarea into real-time collaborative text editors.</p>
                            <p>Unlike others collaborative text editor, <strong>MUTE</strong> doesn't use an <a target="_blank" href="http://en.wikipedia.org/wiki/Operational_transformation">Operational Transform-based algorithm</a> to resolve conflicts and merge modifications, but works using a <a target="_blank" href="#">Conflict-free Replicated Data Types-based implementation</a>. This allows <strong>MUTE</strong> to <strong>manage effectively large text operations</strong> and to <strong>adopt a high scalable architecture</strong></p>
                            <p>This demo works using <a target="_blank" href="http://ace.c9.io/#nav=about">Ace</a> as text editor and implement a centralized network architecture. If you want to implement another text editor or network architecture, you can extend <strong>MUTE</strong> by developping your own modules. If you're interested in it, <a href="guide">look at the guide</a>.</p>
            			</div>
            			<div class="col-md-4">
            				<% include form-private-doc %>
            			</div>
            			<div class="col-md-4">
            				<% include code %>
            			</div>
            		</div> <!-- End additionnal informations -->
            	</div> <!-- End main content -->
          	</div>
            <hr>
            <% include footer %>
        </div>
		<% include scripts %>
        <% include scripts-editor %>
        <% include script-dbjs %>
        <% include notifications %>
		<script>
			"use strict";

            var serverDB;
            var coordinator;
            var editor;
            var network;
            var awareness;

            var online = false;
            var posting = $.post('/ajax/testConnection');
            posting.done(function (data) ***REMOVED***
                online = true;
        ***REMOVED***);
            posting.fail(function () ***REMOVED***
                console.log('Yo');
                location.href = '/list';
        ***REMOVED***);
            posting.always(function () ***REMOVED***
                db.open(***REMOVED***
                    server: 'mute',
                    version: 1,
                    schema: ***REMOVED***
                        models: ***REMOVED***
                            key: ***REMOVED*** keyPath: 'id' , autoIncrement: true ***REMOVED***,
                            // Optionally add indexes
                            indexes: ***REMOVED***
                                creationDate: ***REMOVED******REMOVED***,
                                docID: ***REMOVED*** unique: true ***REMOVED***,
                                history: ***REMOVED******REMOVED***,
                                lastModificationDate: ***REMOVED******REMOVED***,
                                replicaNumber: ***REMOVED******REMOVED***,
                                ropes: ***REMOVED******REMOVED***,
                                bufferLocalLogootSOp: ***REMOVED******REMOVED***
                        ***REMOVED***
                    ***REMOVED***
                ***REMOVED***
            ***REMOVED***)
                .done(function (s) ***REMOVED***
                    serverDB = s
                    initPage();
            ***REMOVED***);
        ***REMOVED***);

            function initPage () ***REMOVED***
                var currentState = 0;
                var str = '';
                var client;

                console.log('Online:', online);

                hljs.initHighlightingOnLoad();

                if(online === true) ***REMOVED***
                    $('#copy-button').tooltip(***REMOVED*** container: 'body', delay: ***REMOVED*** show: 0, hide: 100 ***REMOVED*** ***REMOVED***);
                    client = new ZeroClipboard(document.getElementById("copy-button"));

                    $('#copy-button').on('mouseout', function () ***REMOVED***
                         $('#copy-button').attr('data-original-title', 'copy to clipboard');
                ***REMOVED***);

                    client.on( "ready", function( readyEvent ) ***REMOVED***
                        client.on( "aftercopy", function( event ) ***REMOVED***
                            $('#copy-button').attr('data-original-title', 'copied!');
                            $('#copy-button').tooltip('show');
                    ***REMOVED*** );
                ***REMOVED***);
            ***REMOVED***


                currentState = 0;
                str = '';

                coordinator = new Mute.Coordinator('<%= docID %>', serverDB);
                editor = new Mute.AceEditorAdapter('<%= editorID %>', coordinator);
                coordinator.setEditor(editor);
                if(online === true) ***REMOVED***
                    network = new Mute.SocketIOAdapter(coordinator);
                    coordinator.setNetwork(network);
            ***REMOVED***
                awareness = new AwarenessAdapter(coordinator, editor, $('#<%= nbOperationsItemID %>')[0], $('#<%= lastModificationDateItemID %>')[0]);
                coordinator.init();
                console.log('<%= docID %>');
        ***REMOVED***
        </script>
	</body>
</html>