<!doctype html>
<!-- <html lang="en" manifest="mute.manifest"> -->
<html lang="en">
	<head>
		<% include head %>
		<% include css %>
	</head>
	<body>
		<% include menu %>
		<div class="container">
            <div class="row">
            	<div class="col-md-12"> <!-- Main content -->
            		<div class="row"> <!-- Demo -->
            			<h1>
                            <strong>Try MUTE, the Multi-User Text Editor</strong>
                			<button id="btnAppCache" class="btn btn-default pull-right" onclick="updateAppCache()">
                                <span class="glyphicon glyphicon-download"></span>
                                Store locally
                            </button>
                        </h1>
                        <div class="col-md-12">
	        				<% include editor %>
	        				<br>
                            <div class="row">
                                <div class="col-md-6">
	        				       <% include awareness %>
                                </div>
                                <div class="col-md-6">
                                    <form class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label for="link" class="col-sm-5 control-label">Invite your friends:</label>
                                            <div class="col-sm-7">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="link" value="<%= link %>" readonly="readonly" style="background-color: white;">
                                                    <span class="input-group-btn">
                                                        <button type="button" id="copy-button" class="btn btn-default" data-clipboard-text="<%= link %>" data-toggle="tooltip" data-placement="bottom" title="copy to clipboard" style="height:34px;"><img src="assets/img/icon-clipboard.png"></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
            		</div> <!-- End demo -->
            		<hr>
            		<div class="row"> <!-- Additionnal informations -->
            			<div class="col-md-4">
            				<h1><strong>What's MUTE ?</strong></h1>
                            <p class="lead"><strong>MUTE</strong>, which stands for <strong>M</strong>ulti-<strong>U</strong>ser <strong>T</strong>ext <strong>E</strong>ditor, is a open-source Javascript library able to change any textarea into real-time collaborative text editors.</p>
                            <p>Unlike others collaborative text editor, <strong>MUTE</strong> doesn't use an <a target="_blank" href="http://en.wikipedia.org/wiki/Operational_transformation">Operational Transform-based algorithm</a> to resolve conflicts and merge modifications, but works using a <a target="_blank" href="#">Conflict-free Replicated Data Types-based implementation</a>. This allows <strong>MUTE</strong> to <strong>manage effectively large text operations</strong> and to <strong>adopt a high scalable architecture</strong></p>
                            <p>This demo works using <a target="_blank" href="http://ace.c9.io/#nav=about">Ace</a> as text editor and implement a centralized network architecture. If you want to implement another text editor or network architecture, you can extend <strong>MUTE</strong> by developping your own modules. If you're interested in it, <a href="guide">look at the guide</a>.</p>
            			</div>
            			<div class="col-md-4">
            				<% include form-private-doc %>
            			</div>
            			<div class="col-md-4">
            				<% include code %>
            			</div>
            		</div> <!-- End additionnal informations -->
            	</div> <!-- End main content -->
          	</div>
            <hr>
            <% include footer %>
        </div>
		<% include scripts %>
        <% include scripts-editor %>
        <% include script-dbjs %>
        <% include notifications %>
		<script>
			"use strict";

            var serverDB;
            var coordinator;
            var editor;
            var network;
            var awareness;
            var iframeAdded = false;

            var online = false;
            var posting = $.post('/ajax/testConnection');
            posting.done(function (data) {
                online = true;
            });
            posting.fail(function () {
                console.log('Yo');
                location.href = '/list';
            });
            posting.always(function () {
                db.open({
                    server: 'mute',
                    version: 1,
                    schema: {
                        models: {
                            key: { keyPath: 'id' , autoIncrement: true },
                            // Optionally add indexes
                            indexes: {
                                creationDate: {},
                                docID: { unique: true },
                                history: {},
                                lastModificationDate: {},
                                replicaNumber: {},
                                ropes: {},
                                bufferLocalLogootSOp: {}
                            }
                        }
                    }
                })
                .done(function (s) {
                    serverDB = s
                    initPage();
                });
            });

            function initPage () {
                var currentState = 0;
                var str = '';
                var client;

                console.log('Online:', online);

                hljs.initHighlightingOnLoad();

                if(online === true) {
                    $('#copy-button').tooltip({ container: 'body', delay: { show: 0, hide: 100 } });
                    client = new ZeroClipboard(document.getElementById("copy-button"));

                    $('#copy-button').on('mouseout', function () {
                         $('#copy-button').attr('data-original-title', 'copy to clipboard');
                    });

                    client.on( "ready", function( readyEvent ) {
                        client.on( "aftercopy", function( event ) {
                            $('#copy-button').attr('data-original-title', 'copied!');
                            $('#copy-button').tooltip('show');
                        } );
                    });
                }


                currentState = 0;
                str = '';

                coordinator = new Mute.Coordinator('<%= docID %>', serverDB);
                editor = new Mute.AceEditorAdapter('<%= editorID %>', coordinator);
                coordinator.setEditor(editor);
                if(online === true) {
                    network = new Mute.SocketIOAdapter(coordinator);
                    coordinator.setNetwork(network);
                }
                awareness = new AwarenessAdapter(coordinator, editor, $('#<%= nbOperationsItemID %>')[0], $('#<%= lastModificationDateItemID %>')[0]);
                coordinator.init();
                console.log('<%= docID %>');
            }

            function handleNoUpdate () {
                $('#btnAppCache').attr('onclick', '');
                $('#btnAppCache').html('<span class="glyphicon glyphicon-download"></span>&nbsp;No update needed!');
                setBtnAppCacheToDefault();
            };

            function handleDownloading () {
                $('#btnAppCache').attr('onclick', '');
                $('#btnAppCache').html('<img src="/assets/img/ajax-loader.gif">&nbsp;Downloading...');
            }

            function handleUpdateReady () {
                $('#iframeAppCache')[0].contentWindow.applicationCache.swapCache();
                $('#btnAppCache').html('<span class="glyphicon glyphicon-download"></span>&nbsp;Updated!');
                setBtnAppCacheToDefault();
            }

            function setBtnAppCacheToDefault () {
                setTimeout(function () {
                    $('#btnAppCache').attr('onclick', 'updateAppCache()');
                    $('#btnAppCache').html('<span class="glyphicon glyphicon-download"></span>&nbsp;Store locally!')
                }, 3000);
            }

            function updateAppCache () {
                if(iframeAdded === false) {
                    iframeAdded = true;
                    $('body').prepend('<iframe id="iframeAppCache" src="/offline/list.html#iframed" style="position:absolute;top:-999em;visibility:hidden"></iframe>');
                }
                else {
                    $('#iframeAppCache')[0].contentWindow.applicationCache.update();
                }
            }
        </script>
	</body>
</html>