<!doctype html>
<html lang="en">
	<head>
		<% include head %>
		<% include css %>
	</head>
	<body>
		<% include menu %>
		<div class="container">
            <div class="row">
            	<div class="col-md-12"> <!-- Main content -->
            		<div class="row"> <!-- Demo -->
                        <h1>
                            <strong><%= docID %></strong>
                            <span class="pull-right">
                                <button id="btnEditorMode" class="btn btn-default"></button>
                                <button id="btnConnexionManager" class="btn btn-default hidden"></button>
                                <div id="divConnexionManagerToken"></div>
                            </span>
                        </h1>
            			<div class="col-md-10 col-md-offset-1">
            				<div id="historySlider" class="range range-primary hide">
                                <button class="btn btn-default btn-sm" type="button" onclick="prevState()">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </button>
                                <input id="range" type="range" name="range" min="0" max="1" value="1" oninput="displayState();" onclick="displayState();">
                                <output id="rangePrimary">0</output>
                                <button class="btn btn-default btn-sm" type="button" onclick="nextState()">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-2"></div>
            <div id="divWarningMessage" class="col-md-6 col-md-offset-1"></div>
            <div class="col-md-2 pull-right">
                <button id="btnPanelController" class="btn btn-default" style="margin-right: 30px;" onclick="hideCollaboratorsList();">
                    <span id="panelControllerIcon" class="glyphicon glyphicon-arrow-right"></span>
                    <span id="panelControllerLabel">Hide list</span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10" id="divMain" style="padding-right: 0px;">
                <% include editor %>
            </div>
            <div class="col-md-2" id="divInfosSup" style="padding-top: 15px; padding-left:0px; padding-right: 30px;">
                <div class="panel-group">
                    <div class="panel panel-default" style="border: 0px; box-shadow: 0 0px 0px;">
                        <div class="panel-heading" style="border: 1px solid #ddd">
                            <h4 class="panel-title">
                                <span class="glyphicon glyphicon-th-list" style="margin-right: 10px;"></span>
                                <strong>Collaborators</strong>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <ul class="list-group" style="margin-bottom: 0px;">
                                <li class="list-group-item">
                                    <span class="glyphicon glyphicon-user"></span>
                                    <input type="text" maxlength="20" class="form-control" style="width: 80%; display: inline; margin-left: 10px;" id="inputUsername" placeholder="Enter username">
                                </li>
                            </ul>
                            <ul id="list-collaborators" class="list-group">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
            		<div class="row">
                        <div class="col-md-6">
                           <% include awareness %>
                        </div>
                        <div class="col-md-6">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label for="link" class="col-sm-5 control-label">Invite your friends:</label>
                                    <div class="col-sm-7">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="link" value="<%= link %>" readonly="readonly" style="background-color: white;">
                                            <span class="input-group-btn">
                                                <button type="button" id="copy-button" class="btn btn-default" data-clipboard-text="<%= link %>" data-toggle="tooltip" data-placement="bottom" title="copy to clipboard" style="height:34px;">
                                                    <img src="/assets/img/icon-clipboard.png">
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
            	</div>
            </div>
           	<hr>
            <% include footer %>
        </div>
        <div class="modal fade" id="modalCloseTab" tabindex="-1" role="dialog" aria-labelledby="modalCloseTabLabel" data-backdrop="static" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="modalCloseTabLabel">Open in a new tab</h4>
                    </div>
                    <div id="modal-body" class="modal-body">
                        <p class="lead">
                            This document has been opened in another tab/window. In order to avoid some mischievous bugs, you can no longer edit this document using this tab/window. Please go back to your documents list.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Dismiss pop-up
                        </button>
                        <a href="/list" type="button" class="btn btn-primary">
                            <span class="glyphicon glyphicon-list"></span>
                            Documents list
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <% include scripts %>
        <% include scripts-editor %>
        <% include script-dbjs %>
        <% include notifications %>
        <script src="/assets/js/awareness-modules/copy-link.js"></script>
        <script src="/assets/js/awareness-modules/modification-date.js"></script>
        <script src="/assets/js/awareness-modules/remote-indicators.js"></script>
        <script src="/assets/js/awareness-modules/collaborators-list.js"></script>
        <script src="/assets/js/awareness-modules/username.js"></script>
        <script src="/assets/js/awareness-modules/paroles.js"></script>
        <script src="/assets/js/awareness-modules/hoverlink.js"></script>
        <script src="/assets/js/check-version.js"></script>
        <script src="/assets/js/connexion-manager.js"></script>
        <script src="/assets/js/editor-mode-manager.js"></script>
        <script src="/assets/js/peer.js"></script>
		<%
        	if(privateDoc === true) {
        		%> <% include modal-pwd-doc %> <%
        	}
        %>
		<script>
			"use strict";
			//var SIGNALING_SERVER = 'ws://sigver-coastteam.rhcloud.com:8000';
			var SIGNALING_SERVER = '<%= signalingServerURI %>';
            var version = 0;

            var HoverLink;
            var timeoutUpdateUsername = null;
            var serverDB;
            var client;
            var coordinator;
            var editor;
            var network;
            var awareness;
            var infosUsersModule;

            var online = false;
            var posting;

            $(function () {
                posting = $.post('/ajax/testConnection');
                posting.done(function (data) {
                    online = true;
                });
                posting.always(function () {
                    openDB()
                    .done(function (s) {
                        console.log('On passe ici ?');
                        serverDB = s
                        initPage();
                    });
                });
            });

            function initMute() {
                coordinator.setEditor(editor);
                if(online === true) {
                    network = new Mute.PeerIOAdapter(coordinator, SIGNALING_SERVER);
                    console.log(network);
                    console.log(network.coordinator.docID);
                    infosUsersModule = new Mute.InfosUsersModule('<%= docID %>', coordinator, editor, network, null, serverDB);
                    editor.setInfosUsersModule(infosUsersModule);
                    network.setInfosUsersModule(infosUsersModule);
                    $('#divWarningMessage').checkVersionModule({
                        /*
                        *   options : {
                        *       docID
                        *       coordinator
                        *       serverDB
                        *       timeInterval
                        *       toDisabled: list of item which will be switched to disabled
                        *       toReadOnly: list of item which will be switched to read only
                        *   }
                        */
                        docID: '<%= docID %>',
                        coordinator: coordinator,
                        serverDB: serverDB,
                        timeInterval: 3000,
                        toDisabled: []
                    });
                    $('#inputUsername').usernameModule({
                        infosUsersModule: infosUsersModule
                    });
                    $('#list-collaborators').collaboratorsListModule({
                        infosUsersModule: infosUsersModule,
                        listCSSClasses: ['mute-collaborator-indicator-0', 'mute-collaborator-indicator-1', 'mute-collaborator-indicator-2']
                    });
                    $().remoteIndicatorsModule({
                        infosUsersModule: infosUsersModule,
                        textEditorAdapter: editor,
                        networkAdapter: network,
                        cursorsCSSClasses: ['mute-remote-cursor-0', 'mute-remote-cursor-1', 'mute-remote-cursor-2'],
                        selectionsCSSClasses: ['mute-remote-selection-0', 'mute-remote-selection-1', 'mute-remote-selection-2']
                    });
                    $('#btnConnexionManager').connexionManagerModule({
                        /*
                        *   options : {
                        *       coordinator
                        *       network
                        *       token
                        *   }
                        */
                        coordinator: coordinator,
                        network: network,
                        token: $('#divConnexionManagerToken')
                    });
                    coordinator.setNetwork(network);
                }
                $('#btnEditorMode').editorModeManagerModule({
                    /*
                    *   options : {
                    *       coordinator
                    *       textEditorAdapter
                    *       token
                    *   }
                    */
                    coordinator: coordinator,
                    textEditorAdapter: editor,
                    token: $('#divWarningMessage')
                });
                coordinator.init();
            }

            function initPage () {
                hljs.initHighlightingOnLoad();

                if(online === true) {
                    $('#copy-button').copyLinkModule();
                }

                coordinator = new Mute.Coordinator('<%= docID %>', serverDB);
                editor = new Mute.AceEditorAdapter('<%= editorID %>', coordinator);
                HoverLink = require("hoverlink").HoverLink;
                editor.hoverLink = new HoverLink(editor.editor);

                $('#<%= lastModificationDateItemID %>').lastModificationDateModule({ coordinator: coordinator });
                if(<%= privateDoc %> === false) {
                    initMute();
                }
            }

            console.log('docID: <%= docID %>');

            function showCollaboratorsList() {
                $('#divMain').animate({ width: '83,33%' });
                $('#divInfosSup').animate({ width: '16,67%' }).show();
                setTimeout(function () {
                    editor.editor.resize();
                    $('#panelControllerLabel').html('Hide list');
                    $('#panelControllerIcon').removeClass('glyphicon-arrow-left').addClass('glyphicon-arrow-right');
                    $('#btnPanelController').attr('onclick', 'hideCollaboratorsList()');
                }, 0);
            }

            function hideCollaboratorsList() {
                $('#divInfosSup').animate({ width: '0%'}).hide();
                $('#divMain').animate({ width: '100%'});
                setTimeout(function () {
                    editor.editor.resize();
                    $('#panelControllerLabel').html('Show list');
                    $('#panelControllerIcon').removeClass('glyphicon-arrow-right').addClass('glyphicon-arrow-left');
                    $('#btnPanelController').attr('onclick', 'showCollaboratorsList()');
                }, 400);
            }
        </script>
        <% include script-download-app %>
	</body>
</html>
